.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;

  row-gap: 30px;
  column-gap: 50px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

.item--1 {
  background-color: orange;
  grid-column: 3/4;
  grid-row: 1/2;
  
}

.item--2 {
  background-color: green;
  grid-column: 1/2 ;
  grid-row: 2/2 ;
}

.item--3 {
  background-color: violet;
  grid-column: 2/3;
  grid-row: 1/2 ;
}

.item--4 {
  background-color: pink;
  grid-column: 1/2;
  grid-row: 1/2;
}

.item--5 {
  background-color: blue;
  grid-column: 3/3;
  grid-row: 2/2;
}

.item--6 {
  background-color: brown;
  grid-column: 2;
  grid-row: 2;
}
