.container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    background-color: #40fef4;
    width: 600px;
}

.item-1 {
    background-color: #00b3ff;
}
.item-2 {
    background-color: #0051ff;
}