.container {
  background-color: rgb(255, 221, 0);

  /* Izvieto, lūdzu, CSS Grid ar 3 tādām kolonnām,
  kādas vēlas būt katrs no tekstiem 1. rindā.
  Kopā ir 2 rindas un tās aizņem tieši tik daudz vietas,
  cik garākajam tekstam vajadzīgs.*/
display:grid;
grid-template-columns: max-content min-content  minmax(400px, 1fr);
grid-template-rows: auto auto;
  gap: 10px;
}

.item {
  background-color: rgb(239, 80, 80);
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  padding: 5px;
  
}
